main {
    position: relative;
    width: 100%;
    height: 100%;
}

div.movSelector {
    top: 50%;
    left: 50%;

    &--selected{
        border-color: red;
    }

    &:first-child {
        left: calc(50% - 100px)
    }

    &:last-child {
        left: calc(50% + 100px)
    }
}